body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(100deg, #9106ee, #3f00b3);
}

header {
  font-family: "JetBrains Mono";
  display: flex;
  justify-content: space-around;
  gap: 70%;
  border-bottom: 1px solid white;
}

#titulo {
  color: white;
  width: 300px;
  font-size: 30px;
}

button {
  width: 100px;
  height: 50px;
  background-color: #8400ff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #3f00b3;
}

footer {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 100%;
  border-top: 2px solid #3f00b3;
  color: white;
}
